<ul class="ResumeContactInfo">
  <li class="ResumeContactInfo-item ResumeContactInfo-item--social"><a target="_blank" href="https://twitter.com/chrislopresto"><%= icon "twitter-square" %> @chrislopresto</a></li>
  <li class="ResumeContactInfo-item ResumeContactInfo-item--social"><a target="_blank" href="https://github.com/chrislopresto"><%= icon "github-square" %> chrislopresto</a></li>
  <li class="ResumeContactInfo-item ResumeContactInfo-item--social"><a target="_blank" href="https://www.linkedin.com/in/chrislopresto/"><%= icon "linkedin-square" %> chrislopresto</a></li>
  <li class="ResumeContactInfo-item ResumeContactInfo-item--social"><a href="#"><%= icon "phone-square" %> +1-732-470-7796</a></li>
  <li class="ResumeContactInfo-item ResumeContactInfo-item--social"><a href="mailto:chris@chrislopresto.com"><%= icon "envelope" %> chris@chrislopresto.com</a></li>
  <li class="ResumeContactInfo-item ResumeContactInfo-item--address"><br>55 W 74th St, Apt 1C<br>New York, NY 10023</li>
</ul>
