<div class="Resume">
  <%= render partial: "resume/resume_header" %>

  <div class="Resume-body">
    <%= render partial: "resume/resume_contact_info" %>
    <%= render partial: "resume/resume_intro" %>

    <%= render partial: "resume/resume_work_item", locals: {
      where: 'Betterment',
      from: '2016',
      to: 'Present',
      learned: 'Where I lead design system and front end architectures',
      as: 'Lead Software Engineer',
      content: 'resume/work_items/betterment'
    } %>

    <%= render partial: "resume/resume_work_item", locals: {
      where: 'Yapp / Yapp Labs',
      from: '2015',
      to: '2016',
      learned: 'Where I melded engineering and design teams',
      content: 'resume/work_items/yapp'
    } %>

    <%= render partial: "resume/resume_work_item", locals: {
      where: 'Elegant and Tasteful',
      from: '2014',
      to: '2015',
      learned: 'When I freelanced and learned about NASCAR',
      content: 'resume/work_items/elegant_and_tasteful'
    } %>

    <div class="ResumePageBreak"></div>
    <%= render partial: "resume/resume_work_item", locals: {
      where: 'Plyfe',
      from: '2011',
      to: '2014',
      learned: 'When I co-founded a startup',
      as: 'CTO & Co-Founder',
      content: 'resume/work_items/plyfe'
    } %>

    <%= render partial: "resume/resume_work_item", locals: {
      where: 'News Corp / Skiff',
      from: '2008',
      to: '2010',
      learned: 'Where I built an ePub newspaper publishing engine',
      as: 'Director of Content Publishing',
      content: 'resume/work_items/news_corp_skiff'
    } %>

    <%= render partial: "resume/resume_work_item", locals: {
      where: 'Microdesk',
      from: '2005',
      to: '2008',
      learned: 'Where I worked on the Patriot Missile System',
      as: 'Lead Software Engineer & Project Manager',
      content: 'resume/work_items/microdesk'
    } %>

    <div class="ResumePageBreak"></div>
    <%= render partial: "resume/resume_work_item", locals: {
      where: 'Fantastic Damage',
      from: '2004',
      to: '2005',
      learned: 'When I started a web development business',
      as: 'Co-Founder',
      content: 'resume/work_items/fantastic_damage'
    } %>

    <%= render partial: "resume/resume_work_item", locals: {
      where: 'MBNA',
      from: '2002',
      to: '2004',
      learned: 'Where I dealt in big data and corporate flair',
      as: 'Software Engineer',
      content: 'resume/work_items/mbna'
    } %>

    <%= render partial: "resume/music" %>

    <div class="ResumePageBreak"></div>
    <%= render partial: "resume/miscellany" %>

    <h1>Education</h1>
    <%= render layout: "resume/resume_education_item", locals: {
      slug: 'rutgers',
      logo_src: 'logo-rutgers.png',
      name: 'Rutgers University',
      where: 'New Brunswick, NJ',
      from: '1998',
      to: '2002'
    } do %>
      Bachelor of Science in <span class='major'>Computer Science</span><br>
      Bachelor of Music (piano) in <span class='major'>Jazz Studies</span>
    <% end %>

    <%= render layout: "resume/resume_education_item", locals: {
      slug: 'salesianum',
      logo_src: 'logo-salesianum.png',
      name: 'Salesianum School',
      where: 'Wilmington, DE',
      from: '1994',
      to: '1998'
    } do %>
      <em>Tenui Nec Dimittam</em>
    <% end %>

  </div>

</div>
