<!DOCTYPE html>
<html>
  <head>
    <title>Chris LoPresto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <meta name="description" content="Chris LoPresto | Software Engineer, Musician, Leader">
    <meta property="og:description" content="Chris LoPresto | Software Engineer, Musician, Leader">
    <meta property="og:image" content="get.chrislopresto.com/chris-lopresto-headshot.jpg">
    <meta property="og:site_name" content="Chris LoPresto">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chrislopresto">
    <meta name="twitter:description" content="Software Engineer, Musician, Leader">
    <meta name="twitter:title" content="Chris LoPresto">
    <meta name="twitter:image" content="get.chrislopresto.com/chris-lopresto-headshot.jpg">
  </head>

  <body class="p-2">
    <%= yield %>
  </body>
</html>
