<!DOCTYPE html>
<html>
  <head>
    <title>Chris LoPresto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <meta name="description" content="Chris LoPresto | Software Engineer, Musician, Leader">
    <meta property="og:description" content="Chris LoPresto | Software Engineer, Musician, Leader">
    <meta property="og:image" content="get.chrislopresto.com/chris-lopresto-headshot.jpg">
    <meta property="og:site_name" content="Chris LoPresto">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chrislopresto">
    <meta name="twitter:description" content="Software Engineer, Musician, Leader">
    <meta name="twitter:title" content="Chris LoPresto">
    <meta name="twitter:image" content="get.chrislopresto.com/chris-lopresto-headshot.jpg">
  </head>

  <body>
    <div class="pl-2">
      <%= yield %>

      <p>
        <a class="text-teal-dark" target='_blank' href='https://twitter.com/chrislopresto'><%= icon 'twitter' %></a>
        <a class="text-teal-dark" target='_blank' href='https://facebook.com/chrislopresto'><%= icon 'facebook' %></a>
        <a class="text-teal-dark" target='_blank' href='https://instagram.com/chrislopresto'><%= icon 'instagram' %></a>
        <a class="text-teal-dark" target='_blank' href='https://github.com/chrislopresto'><%= icon 'github' %></a>
        <a class="text-teal-dark" target='_blank' href='https://www.linkedin.com/in/chrislopresto/'><%= icon 'linkedin' %></a>
        <a class="text-teal-dark" href='/resume'><%= icon 'briefcase' %></a>
      </p>
    </div>
  </body>
</html>
